.menu-wrapper{
  background-color: aquamarine;
  height: 20vh;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  padding: 3%;
}

.menu{
  background-color: red;
  justify-content: center;
  align-items: center;
  display: flex;
}

.select{
  width: 100%;
  text-align-last:center;
  justify-content: center;
  align-items: center;
}