.menu-wrapper{
  /* background-color: aquamarine; */
  height: 20vh;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  padding: 1% 35%;
  text-align-last:center;
}

.menu{
  justify-content: center;
  align-items: center;
  display: flex;
}
.menu-label{
  height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.select{
  height: 100%;
  width: 100%;
  text-align-last:center;
  justify-content: center;
}